body {
    margin: 0px;
}
* {
    box-sizing: border-box;
}
.clearfix:after {
    content: '';
    clear: both;
    display: table;
}
.left {
    float: left;
}
.right {
    float: right;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

#header {
    background-color: #000000;
    padding: 15px 0px;
}
#header .edition{
    width: 8%;
    color: #fff;
}
#header .logo {
    width: 80%;
    text-align: center;
}
#header h1 {
    color: #fff;
    text-transform: uppercase;
    margin: 0px;
}
#header .sociable {
    width: 10%;
}
#header .sociable ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#header .sociable ul li{
    font-size: 22px;
    display: inline-block;
    margin: 0px 5px;
}
#header .sociable ul li a {
    color: #fff;
}

#main-nav {
    border-bottom: 1px solid #f3f3f3;
}
#main-nav ul {
    margin: 0px;
    padding: 13px 0px;
    list-style: none;
}
#main-nav ul li {
    font-family: arial;
    font-size: 16px;
    display: inline-block;
    padding: 0px 25px 0px;
}
#main-nav ul li a{
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
#main-nav ul li:first-child {
    padding-left: 0px;
}